@import 'tailwindcss';
@import 'tw-animate-css';
@import './globals.scss';

@custom-variant dark (&:is(.dark *));

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: transparent;
}

.cursor {
  cursor: pointer;
}
