root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true

[*.{js,jsx,ts,tsx,cjs,mjs}]
quote_type = single
indent_size = 2
tab_width = 2
semicolons = false

[{*.rs,*.rsx,*.rsc,*.slint}]
tab_width = 4
indent_size = 4
